<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Add Project</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/add.png">
        <mat-card-content>
          <p>
            Create your new Augmented réality project </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="product-buttons text-center">
            <button type="button" class="btn btn-primary mr-1"
            [routerLink]="'/animate/newproject'"
            >Add New project</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>



  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let collection of projects">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Your Projects </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="collection.imageUrl">
          <mat-card-content>
            <p>
              {{collection.name}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div class="product-buttons text-center">
              <button type="button" class="btn btn-primary mr-1" (click)="goTomarker(collection.id)">Show
                Markers</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>