<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
<div >

<mat-card style="width: 1000px; margin-left:350px ;" class='mdl-cell mdl-cell--4-col' *ngFor="let e of entreprise">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{e.label}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../../assets/images/entreprise.jpg" alt="Entreprise">
    <mat-card-content>
      <p>
     {{e.adresse}}
      </p>
    </mat-card-content>
    <mat-card-actions>

        <button mat-stroked-button color="primary"  [routerLink]="['/users/entreprises/Employee',e._id]">Manage Employees </button>
    </mat-card-actions>
  </mat-card>
  
<div class="header" id="map">
    
</div>